#container{
    display: flex;
    justify-content: center;
    align-content: center;
}

#top{
    display: flex;
    height: 800px;
    flex: 1 0 calc(25% - 10px); 
} 

#side1{
    display: flex;
    flex-direction: row-reverse;
    flex: 1 2 calc(25% - 10px); 
    border: 1px solid blue;
    height: 2000px;
} 
#side2{
    flex: 1 2 calc(25% - 10px); 
    border: 1px solid blue;
    height: 2000px;
}

#grid{
    display: flex;
    flex-direction: column;
    border: 5px solid purple;
    flex: 1 1 calc(25% - 10px); 
}

.row{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.col{
    width: 100%;
}

.opt{
    display:flex;
    border: 2px solid red;
    height: 2000px;
    width: 300px;
    align-content: center;
    align-self: center;
}