html{
    background-color: #ED9B40;
}
#container{
    display: flex;
    justify-content: center;
    align-content: center;
}

#top{
    display: flex;
    height: 800px;
    flex: 1 0 calc(25% - 10px); 
    font-family: 'Darumadrop One', cursive;
    font-size: 140px;
    color: #FFEEDB;
    justify-content: center;
    align-content: center;
} 

#side1{
    display: flex;
    flex-direction: row-reverse;
    flex: 1 2 calc(25% - 10px);
    height: 2000px;
} 
#side2{
    flex: 1 2 calc(25% - 10px); 
    height: 2000px;
}

#grid{
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(25% - 10px); 
    background-color: white;
    border: 40px solid #e3cfb8;
}

.row{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.col{
    width: 100%;
}

.opt{
    display:flex;
    flex-direction: column;
    border: 2px solid red;
    height: 2000px;
    width: 300px;
    align-content: center;
    align-self: center;
    justify-content: space-around;
}

#clear{
    font-family: 'Darumadrop One', cursive;
    font-size: 68px;
    height: 200px;
}

.clear{
    height: 100%;
    width: 100%;
}

.gridSize{
    font-family: 'Darumadrop One', cursive;
    font-size: 68px;
    height: 200px;
}

