html{
    background-color: #ED9B40;
}
#container{
    display: flex;
    justify-content: center;
    align-content: center;
}

#top{
    display: flex;
    height: 200px;
    flex: 1 0 calc(25% - 10px); 
    font-family: 'Darumadrop One', cursive;
    font-size: 60px;
    color: #FFEEDB;
    justify-content: center;
    align-content: center;
    margin-bottom: 60px;
} 

#side1{
    display: flex;
    flex-direction: row-reverse;
    flex: 1 1 calc(25% - 10px);
} 
#side2{
    flex: 1 1 calc(25% - 10px); 
}

#grid{
    display: flex;
    flex-direction: column;
    flex: 1 1 600px; 
    min-height: 600px;
    background-color: white;
    border: 8px solid #e3cfb8;
}

.row{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.col{
    width: 100%;
}

.opt{
    display:flex;
    flex-direction: column;
    border: 2px solid red;
    align-content: center;
    align-self: center;
    justify-content: space-around;
}

#clear{
    font-family: 'Darumadrop One', cursive;
    font-size: 68px;
}

.gridSize{
    font-family: 'Darumadrop One', cursive;
    font-size: 68px;
}

